[package]
name = "enclave-agent"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
protobuf = { version = "=2.14.0" }
bytes = "0.4.11"
libc = "0.2.58"
byteorder = "1.3.2"
log = "0.4.11"
simple-logging = "2.0.2"
nix = "0.23.0"
ttrpc = { git = "https://github.com/haosanzi/ttrpc-rust", features = ["async"] }
ctrlc = { version = "3.0", features = ["termination"] }

# Async runtime
tokio = { version = "1.14.0", features = ["full"] }
async-trait = "0.1.42"

image-rs = { git = "https://github.com/confidential-containers/image-rs", features = ["occlum_feature"], default-features = false, rev = "cf1f7f96eb60ec4cc4aaa671c04d574a4ea0e441" }
kata-sys-util = { git = "https://github.com/kata-containers/kata-containers", rev = "4b57c04c3379d6adc7f440d156f0e4c42ac157df" }

anyhow = "1.0.32"
clap = "2.33.3"

protocols = { path = "../libs/protocols" }

serde = ">=1.0.9"
serde_json = ">=1.0.9"

[build-dependencies]
ttrpc-codegen = "0.2.0"
