[package]
name = "enclave-agent"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.32"
async-trait = "0.1.42"
clap = "2.33.3"

# logger module
env_logger = "0.10.0"

image-rs = { git = "https://github.com/confidential-containers/image-rs", default-features = false, rev = "b28eaae" }
kata-sys-util = { git = "https://github.com/kata-containers/kata-containers", rev = "4b57c04c3379d6adc7f440d156f0e4c42ac157df" }
log = "0.4.11"
protocols = { path = "../libs/protocols" }
serde = ">=1.0.9"
serde_json = ">=1.0.9"

# Async runtime
tokio = { version = "1.14.0", features = ["rt-multi-thread", "macros", "signal"] }

ttrpc = { git = "https://github.com/haosanzi/ttrpc-rust", features = ["async"] }

[patch.crates-io]
oci-distribution = { git = "https://github.com/krustlet/oci-distribution.git", rev = "f44124c" }

[features]
default = ["image-rs/enclave-cc"]
simple = ["image-rs/snapshot-unionfs", "image-rs/signature-cosign", "image-rs/signature-simple", "image-rs/keywrap-native", "image-rs/encryption"]

[build-dependencies]
ttrpc-codegen = "0.2.0"

[dev-dependencies]
rstest = "0.16.0"
