name: basic build and unit tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  # shim basic test
  shim:
    name: shim basic test
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10

    strategy:
      matrix:
        os: [ubuntu-20.04]
        go-version: [1.16.x, 1.17.x, 1.18.x, 1.19.x]

    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - uses: actions/checkout@v2

      - name: Run build
        run: |
          make binaries
        working-directory: src/shim

      - name: Run unit test
        run: |
          go test -v ./...
        working-directory: src/shim

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.48.0
          args: -v --timeout 5m
          working-directory: 'src/shim'
